body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
}

p {
  color: #8f8f8f;
}

/* headings */

.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */ 

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  /* font-weight: bold; */
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1rem;
  /* font-family: "Montserrat-Light";*/
}

/* download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title section */
/* this means that we are targeting the container fluid inside the title section...this code is more specific than the one which applies to all container fluids and thus this will overwrite it */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* title image styling */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  width: auto;
  height: 600px;
  right: 20%;
}

/* features */

#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 4%;
}

/* testimonial section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
/* row row-cols-1 row-cols-md-3 mb-3 text-center */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px 0;
}

.card {
  margin: 0 3%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.text {
  height: 10rem;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta section is written in general */

/* footer */

#footer {
  background-color: #fff;
}

.logo {
  padding: 15px;
}

.footer-text {
  padding-top: 10px;
}

@media (max-width: 1000px) {

  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

